<!DOCTYPE html>
<html lang="{{ craft.app.sites.currentSite.language() }}">
{{ include("sections/layout/head.twig") }}
<body id="app">
{{ include("sections/layout/header.twig") }}
{% block content %}
{% endblock %}
{{ include("sections/layout/footer.twig") }}
</body>
</html>
